run = "sh replit_build.sh"
modules = ["nodejs-18:v18-20230807-322e88b"]

[nix]
channel = "stable-24_05"

[env]
BROWSER = "none"
PORT = "3000"
BACKEND_PORT = "3001"
REACT_APP_BASE_URL = "subsequences.replit.app"

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 3001
externalPort = 80

[deployment]
run = ["sh", "-c", "sh replit_build.sh"]
deploymentTarget = "cloudrun"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
